name: Publish container

on:
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  publish:
    if: false
    uses: project-unisonOS/unison-platform/.github/workflows/reusable-build.yml@main
    with:
      image_name: unison-io-sign
      domain: io-sign
      service_port: "8080"
    secrets: inherit
